.file{
  display: none;
}
.avatarBox {
  display: flex;
  background-color: #fff;
}
.avatar {
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  border: 1px solid #e1e1e1;
  margin-right: 1em;
  overflow: hidden;
}
.avatar img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}
.avatar:after {
  content: "+";
  position: absolute;
  font-size: 60px;
  left: 50%;
  top: 50%;
  margin-top: -6px;
  color: rgba(0, 0, 0, 0.7);
  transform: translate(-50%, -50%);
}
.info {
  flex: 1;
  text-align: left;
}
.h3 {
  font-size: 16px;
}
.h4 {
  font-size: 14px;
}
.tagsBox {
  display: flex;
  min-width: 50vw;
  background-color: #f7f7f7;
}
.tag {
  border-radius: 5px;
  border: 1px solid #f33;
  margin-right: auto;
}

.layer {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 9999;
  background-color: #fff;
}
