html,
body {
  height: 100%;
}
body {
  max-width: 375px;
  margin: 0 auto;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  background-color: #f7f7f7;
}
header {
  height: 45px;
  background-color: #f33;
}
main {
  padding: 10px 15px;
}
footer {
  height: 50px;
  background-color: #333;
}
